<ul>
    <li>
        {% set utilisateurConnecte = {
            'prenom': app.session.get('infos_utilisateur').prenom|default,
            'nom': app.session.get('infos_utilisateur').nom|default,
            'organisme': app.session.get('infos_utilisateur').nomOrganisme|default,
        } %}
        <a href="#!" class="waves-effect waves-dark user dropdown-trigger" data-target="user-menu-dropdown" title="{{ utilisateurConnecte.prenom }} {{ utilisateurConnecte.nom }}">
            <span class="user-image">
                {% include '_partial/ui/_icone.html.twig' with {icone:'utilisateur'} only %}
            </span>
            <span class="user-info">
                <span class="user-name">{{ utilisateurConnecte.prenom }} {{ utilisateurConnecte.nom }}</span>
            </span>
        </a>
        <ul id="user-menu-dropdown" class="dropdown-content" data-constrainwidth="false">
            <li>
                <a href="{{ path('accueil.front') }}">
                    {% include '_partial/ui/_icone.html.twig' with {icone:'language'} only %}
                    <span>Fondatools</span>
                </a>
            </li>
            <li>
                <a href="{{ path('app_logout') }}" class="danger">
                    {% include '_partial/ui/_icone.html.twig' with {icone:'deconnexion'} only %}
                    <span>Déconnexion</span>
                </a>
            </li>
        </ul>
    </li>
</ul>